apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: manix-ai-prod

resources:
  - ../../base
  - ingress.yaml

namePrefix: prod-

commonLabels:
  environment: production

patches:
  - target:
      kind: Deployment
      name: manix-api
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "2"
            memory: "2Gi"
  - target:
      kind: Deployment
      name: manix-web
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "2"
            memory: "2Gi"


